*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(246, 251, 255);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;  
}

.hidden{
    display: none !important;
}
/* ===================================================================== */

.container{
    /* width: 500px; */
    width: 600px;
    /* min-height: 100%; */
    background-color: white;
    box-shadow: 0 3px 15px rgba(154, 154, 154, 0.2);
    padding: 30px;  
    border-radius: 15px;

}
.app-control-cont{
    /* background-color: rgb(230, 241, 244); */
    width: 100%;
    /* padding: 20px; */
    /* height: 300px; */
    height: 700px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;
    padding: 10px 0;
    border-bottom: 4px solid rgb(111, 162, 234);
    border-radius: 15px;
}
.header h2{
    font-size: 30px;
    color: rgb(39, 122, 237);
    font-weight: 900;
}
.header button{
    /* font-size: 30px; */
    background-color: rgb(39, 122, 237);
    color: white;
    font-weight: 700;
    padding: 10px 25px;
    outline: none;
    border: none;
    border-radius: 18px;
    cursor: pointer;
    transition: 0.3s ease;
}
.header button:active{
    transform: scale(0.9);
}


.feed-cont{
    /* background-color: rgb(190, 235, 250); */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.empty-feed-msg{
    text-align: center;
    /* color: rgb(65, 62, 62); */
    font-style: italic;
    
}




.post-cont{
    width: 100%;
    background-color: white;
    box-shadow: 0 2px 10px rgba(97, 97, 97, 0.1);
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.user-info{
    /* background-color: rgb(201, 121, 121); */
    display: flex;
    align-items: center;
    gap: 10px;

}


.content-details{
    /* background-color: rgb(201, 121, 121); */
    display: flex;
    align-items: center;
    gap: 15px;

}
.user-img{
    width: 40px;
    height: 40px;
    background-color: rgb(62, 61, 61);
    border-radius: 50%;
}
.user-name{
    font-weight: 600;
    cursor: pointer;
}

.action-cont{
    /* background-color: rgb(201, 121, 121); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    padding: 10px 0;
    border-top: 1px solid rgb(184, 184, 184);
}

.date-time{
    font-size: 10px;
    color: rgb(45, 130, 248);

}
.action-items{
    display: flex;
    gap: 10px;
}

.action-items button{
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
}
.action-items button:active{
    transform: scale(0.9);
}

.heart{
    display: flex;
    gap: 5px;
    align-items: center;
    color: rgb(37, 69, 100);
    font-weight: 600;
}
.heart svg{
    width: 15px;
    height: 15px;
}
.delete{
    font-size: 13px;
    color: rgb(103, 109, 114);

}









/* ==================================================== */
.creat-post-modal{
    background-color: rgba(232, 55, 55, 0.2);
    width: 100%;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.create-post-cont{
    width: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    padding: 30px;
    border-radius: 12px;
}
.creat-post-modal h2{
    width: 100%;
    width: fit-content;
    /* background-color: rgb(130, 124, 124); */
    padding: 5px 0;
    border-bottom: 1px solid rgb(197, 197, 197);
    margin-bottom: 20px;

}
.input-feild-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    margin-bottom: 20px;
    /* background-color: rgb(105, 91, 91); */
}
.input-feild-cont input{
    width: 100%;
    outline: none;
    border: 1px solid rgb(190, 190, 190);
    border-radius: 12px;
    padding: 15px 10px;
    font-size: 15px;
    transition: 0.3s ease;
}
.input-feild-cont input:focus{
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);

}


.create-post-btns{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
    /* background-color: rgb(105, 91, 91); */
    width: 100%;

}
.create-post-btns button{
    outline: none;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    font-weight: 600;
    transition: 0.3s ease;
}
.create-post-btns button:active{
    transform: scale(0.9);
}

.create-btn{
    background: linear-gradient(160deg, rgb(53, 181, 223), rgb(6, 86, 113));
    color: white;
}
.cancle-btn{
    /* background: linear-gradient(160deg, rgb(214, 215, 215), rgb(144, 144, 144)); */
    background-color: rgb(193, 193, 193);
    color: rgb(56, 50, 50);
}






























